<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.AdminstratorMapper" >
  <resultMap id="BaseResultMap" type="com.cdtu.model.Adminstrator" >
    <result column="a_id" property="aId" jdbcType="VARCHAR" />
    <result column="a_password" property="aPassword" jdbcType="VARCHAR" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getPasswordById" parameterType="java.lang.String" resultType="java.lang.String">
  		SELECT a_password
  		FROM administrator
  		WHERE a_id = #{userName}
  </select>
  <select id="getAdminByaIdAndaPassword" parameterType="com.cdtu.model.Role" resultType="java.util.HashMap">
  	SELECT a_ID AS userName,a_name as name,a_img_src as userImgSrc,a_email as userEmail,a_phone as userPhone 
  	FROM administrator
		WHERE A_ID =#{username,jdbcType=VARCHAR}
		AND A_PASSWORD =#{password,jdbcType=VARCHAR}
  </select>
</mapper>