<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.ClassCreateMapper">
	<!--教师增添课程 by:魏宇航-->
	<insert id="insertClassCreate" parameterType="com.cdtu.model.ClassCreate">
		insert into class_create(t_id,ct_name,ct_switch)
		values(#{tId},#{ctName},#{ctSwitch})
	</insert>
	<!--教师查询课程 by:魏宇航-->
	<resultMap type="com.cdtu.model.CourseWapper" id="ClassCreateList">
		<result column="ct_id" property="ctId" />
		<result column="ct_name" property="cName" />
		<result column="t_name" property="tName" />
		<result column="sc_name" property="scName" />
		<result column="ct_img_src" property="cImgSrc" />
		<result column="t_img_src" property="tImgSrc" />
		<result column="tsc_id" property="tscId" />
		
		<result column="ct_switch" property="ctSwitch" />
	</resultMap>
	<select id="selectClassCreate" parameterType="String" resultMap="ClassCreateList">
		SELECT class_create.ct_id,class_create.ct_name,class_create.ct_img_src,teacher.t_name,teacher.t_img_src,null as tsc_id,"未设置学院归属" as sc_name
		FROM class_create,teacher 
		WHERE class_create.t_id=#{id} 
		AND
		teacher.t_id=class_create.t_id
	</select>
	<!--教师修改课程 by:魏宇航-->
	<update id="updateClassCreate" parameterType="com.cdtu.model.ClassCreate">
		update class_create
		<set>
				t_id = #{tId},
			<if test="ctName != null">
				ct_name = #{ctName},
			</if>
			<if test="ctSwitch != null">
				ct_switch = #{ctSwitch},
			</if>
		</set>
		where ct_id=#{cId}
	</update>
	<!--教师删除课程 by:魏宇航-->
	<delete id="deleteClassCreate" parameterType="int">
		delete from class_create
		where ct_id=#{cId}
	</delete>
</mapper>