<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.CourseMapper">
	<resultMap id="BaseResultMap" type="com.cdtu.model.Course">
		<id column="c_id" property="cId" jdbcType="VARCHAR" />
		<result column="sc_id" property="scId" jdbcType="CHAR" />
		<result column="c_name" property="cName" jdbcType="VARCHAR" />
		<result column="c_credit" property="cCredit" jdbcType="DECIMAL" />
	</resultMap>

	<!-- 教师查询非创建课程by:魏宇航 start -->
	<resultMap type="com.cdtu.model.CourseWapper" id="courselist">
		<result column="c_id" property="cId" jdbcType="INTEGER" />
		<result column="c_name" property="cName" />
		<result column="t_name" property="tName" />
		<result column="sc_name" property="scName" />
		<result column="c_img_src" property="cImgSrc" />
		<result column="t_img_src" property="tImgSrc" />
		<result column="tsc_id" property="tscId" />
	</resultMap>

	<select id="selectTeacherCourse" parameterType="String"
		resultMap="courselist">
		SELECT
		teacher.t_name,teacher.t_img_src,course.c_id,course.c_name,course.c_img_src,school.sc_name
		FROM
		teacher_select_course,teacher,course,school
		WHERE
		teacher_select_course.t_id=#{id}
		AND
		teacher.t_id=teacher_select_course.t_id
		AND
		course.c_id=teacher_select_course.c_id
		AND school.sc_id=course.sc_id
	</select>
	<!-- 教师查询非创建课程by:魏宇航 end -->

	<!-- 李红兵start -->
	<select id="selectByCId" resultType="java.util.HashMap">
		SELECT course.c_id AS cId,
		course.c_name AS cName, teacher.t_name AS tName, course.c_img_src AS
		cImgSrc,
		#{sId} IN (
		SELECT student_select_course.s_id
		FROM
		teacher_select_course, student_select_course
		WHERE
		teacher_select_course.c_id = #{cId}
		AND student_select_course.tsc_id =
		teacher_select_course.tsc_id) AS joined
		FROM course, teacher,
		teacher_select_course
		WHERE course.c_id = #{cId}
		AND
		teacher_select_course.c_id = course.c_id
		AND teacher.t_id =
		teacher_select_course.t_id
	</select>

	<select id="selectDetails" resultType="java.util.HashMap">
		SELECT c_id AS cId, c_name
		AS cName, c_img_src AS cImgSrc
		FROM course
		WHERE c_id = #{cId}
	</select>

	<select id="countByCId" resultType="java.lang.Integer">
		SELECT count(*)
		FROM course
		WHERE course.c_id = #{cId}
		LIMIT 1
	</select>
	<!-- 李红兵end -->
</mapper>