<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.PublishEstimateMapper" >
  <resultMap id="BaseResultMap" type="com.cdtu.model.PublishEstimate" >
    <id column="ep_id" property="epId" jdbcType="CHAR" />
    <result column="tsc_id" property="tscId" jdbcType="INTEGER" />
    <result column="ct_id" property="ctId" jdbcType="INTEGER" />
    <result column="ep_start_time" property="epStartTime" jdbcType="DATE" />
  </resultMap>
  <!-- 添加发布课程点评表 by:黎睿-->
	<insert id="insertByTscId" parameterType="com.cdtu.model.PublishEstimate">
		INSERT INTO
		publish_estimate(ep_id,tsc_id,ep_start_time,ep_name)
		VALUES(#{epId},#{tscId},#{epStartTime},#{epName})
	</insert>
	<!-- 添加发布创课点评表 by:黎睿-->
	<insert id="insertByCtId" parameterType="com.cdtu.model.PublishEstimate">
		INSERT INTO
		publish_estimate(ep_id,ct_id,ep_start_time)
		VALUES(#{epId},#{ctId},#{epStartTime})
	</insert>
	<!-- 查询发布点评表通过c_id和s_id by:黎睿-->                       
	<select id="selectPublishEstimateBytscId" resultType="java.util.HashMap">
			SELECT
		publish_estimate.ep_id AS epId,publish_estimate.ep_start_time AS epStartTime,publish_estimate.ep_img_src AS activityImgSrc,c.c_name AS cName
		FROM student,student_select_course,publish_estimate,course c,teacher_select_course tsc
		WHERE student.s_id=student_select_course.s_id
		AND student_select_course.tsc_id=publish_estimate.tsc_id
		AND student.s_id=#{sId}
		AND student_select_course.tsc_id=tsc.tsc_id
		AND tsc.c_id=c.c_id
		AND c.c_id=#{cId}
		AND publish_estimate.ep_id NOT IN(SELECT DISTINCT e.ep_id 
		FROM student s,student_select_course ssc,publish_estimate pe,estimate e,teacher_select_course tsc
		WHERE
		ssc.s_id=#{sId}
		AND ssc.tsc_id=tsc.tsc_id
		AND tsc.c_id=#{cId}
		AND pe.tsc_id=tsc.tsc_id
		AND pe.ep_id=e.ep_id
		AND e.s_id=#{sId}
		
		)
		limit #{start},#{end};
	</select>
	<!-- 查询发布点评表通过ct_id和s_id by:黎睿-->
	<select id="selectPublishEstimateByctId" resultMap="BaseResultMap">
		SELECT
		publish_estimate.*
		FROM student,student_select_course,publish_estimate
		WHERE student.s_id=student_select_course.s_id
		AND student_select_course.ct_id=publish_estimate.ct_id
		AND student.s_id=#{sId}
		AND student_select_course.ct_id=#{ctId}
		AND publish_estimate.ep_id NOT IN(SELECT estimate.ep_id
		FROM student,student_select_course,publish_estimate,estimate
		WHERE student.s_id=student_select_course.s_id
		AND estimate.ep_id=publish_estimate.ep_id
		AND student_select_course.ct_id=publish_estimate.ct_id
		AND student.s_id=#{sId}
		AND student_select_course.ct_id=#{ctId})
	</select>
	
	
	<select id="selectPublishEstimateBytId" resultType="java.util.HashMap">
		SELECT
		publish_estimate.ep_id AS epId,publish_estimate.ep_name AS epName,publish_estimate.ep_start_time AS epStartTime,publish_estimate.ep_img_src AS activityImgSrc
		FROM publish_estimate,teacher_select_course tsc
		WHERE
		 tsc.c_id=#{cId}
		AND tsc.t_id=#{tId}
		AND tsc.tsc_id=publish_estimate.tsc_id
		ORDER BY publish_estimate.ep_start_time
		LIMIT #{start},#{end}
	</select>
	<select id="selectPublishEstimateCount" resultType="int">
		SELECT
		count(*)
		from publish_estimate,teacher_select_course tsc
		WHERE
		 tsc.c_id=#{cId}
		AND tsc.t_id=#{tId}
		AND tsc.tsc_id=publish_estimate.tsc_id
		
	</select>
</mapper>