<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.StudentSelectCourseMapper">
	<!-- 查询该课程学生 by:魏宇航 start -->
	<resultMap id="studentlist"
		type="com.cdtu.model.CourseStudent">
		<id column="s_id" property="sId" />
		<result column="ct_id" property="ctId" />
		<result column="s_name" property="sName" />
		<result column="s_major" property="sMajor" />
		<result column="tsc_id" property="tscId" />
	</resultMap>

	<select id="selectCourseStudent"
		parameterType="com.cdtu.model.CourseWapper" resultMap="studentlist">
		SELECT student.*,student_select_course.* FROM
		student,student_select_course WHERE
		<if test="tscId!=null">
			student_select_course.tsc_id=#{tscId} AND
		</if>
		<if test="ctId!=null">
			student_select_course.ct_id=#{ctId} AND
		</if>
		student.s_id=student_select_course.s_id
	</select>
	<!-- 查询该课程学生 by:魏宇航 end -->

	<!-- 李红兵start -->
	<insert id="insert">
		INSERT INTO student_select_course (tsc_id, s_id)
		SELECT teacher_select_course.tsc_id, #{sId}
		FROM teacher_select_course
		WHERE teacher_select_course.c_id = #{cId}
	</insert>

	<select id="selectBySId" resultType="java.util.HashMap">
		SELECT course.c_id AS cId, course.c_name AS cName,
		teacher.t_name AS tName, teacher.t_img_src AS tImgSrc,
		school.sc_name AS scName, course.c_img_src AS cImgSrc
		FROM student_select_course,teacher_select_course, course, teacher, school
		WHERE student_select_course.s_id = #{sId}
		AND teacher_select_course.tsc_id = student_select_course.tsc_id
		AND course.c_id = teacher_select_course.c_id
		AND teacher.t_id = teacher_select_course.t_id
		AND school.sc_id = teacher.sc_id
	</select>

	<select id="countBySIdAndCId" resultType="java.lang.Integer">
		SELECT COUNT(*)
		FROM student_select_course, teacher_select_course
		WHERE student_select_course.s_id = #{sId}
		AND teacher_select_course.tsc_id = student_select_course.tsc_id
		AND teacher_select_course.c_id = #{cId}
		LIMIT 1
	</select>

	<select id="countStudents" resultType="java.lang.Integer">
		SELECT COUNT(DISTINCT student_select_course.sst_id)
		FROM student_select_course, teacher_select_course
		WHERE (teacher_select_course.c_id = #{cId}
		AND teacher_select_course.t_id = #{rId}
		AND student_select_course.tsc_id = teacher_select_course.tsc_id)
		OR (student_select_course.tsc_id = (
		SELECT teacher_select_course.tsc_id
		FROM student_select_course, teacher_select_course
		WHERE teacher_select_course.c_id = #{cId}
		AND student_select_course.s_id = #{rId}
		AND student_select_course.tsc_id = teacher_select_course.tsc_id))
	</select>

	<select id="selectStudents" resultType="java.util.HashMap">
		SELECT student.s_name AS sName,
		student.s_id AS sId, student.s_img_src AS sImgSrc
		FROM student, teacher_select_course, student_select_course
		WHERE teacher_select_course.c_id = #{cId}
		AND student_select_course.tsc_id = teacher_select_course.tsc_id
		AND student.s_id = student_select_course.s_id
		ORDER BY sId ASC
		LIMIT #{start}, #{end}
	</select>

	<select id="selectSIds" resultType="java.util.HashMap">
		SELECT s_id AS sId
		FROM teacher_select_course, student_select_course
		WHERE teacher_select_course.c_id = #{cId}
		AND student_select_course.tsc_id = teacher_select_course.tsc_id
	</select>
	<!-- 李红兵end -->

	<!-- 查询班级内所有学生 -->
	<select id="selectStudent" resultType="java.lang.String">
		SELECT student.s_id AS sId
		FROM student, teacher_select_course, student_select_course
		WHERE teacher_select_course.c_id = #{cId}
		AND student_select_course.tsc_id = teacher_select_course.tsc_id
		AND student_select_course.s_id = student.s_id
		ORDER BY sId ASC
	</select>	
</mapper>