<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.TeacherSelectCourseMapper" >
	<!-- 李红兵s -->
	<select id="selectByTIdAndCId" resultType="java.util.HashMap">
		SELECT t_name AS tName, c_name AS cName
		FROM teacher, course, teacher_select_course
		WHERE teacher_select_course.t_id = #{tId}
		AND teacher_select_course.c_id = #{cId}
		AND teacher.t_id = #{tId}
		AND course.c_id = #{cId}
	</select>
	<!-- 李红兵e -->
	<select id="selecttscId" resultType="int">
	SELECT teacher_select_course.`tsc_id`AS tscId FROM teacher_select_course WHERE  teacher_select_course.`c_id`=#{cId}
AND t_id=#{tId}
	
	</select>
</mapper>