<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdtu.mapper.UserMapper" >
  <select id="getPassword" resultType="java.util.HashMap">
  	select s_password as password
  	from student
  	where s_id=#{username}
  	and s_email=#{email}
  	UNION
  	select t_password as password
  	from teacher
  	where t_id=#{username}
  	and t_email=#{email}
  </select>
  <select id="getEmailByUsername" resultType="java.lang.String">
  	select s_email as email
  	from student
  	where s_id=#{username}
  	UNION
  	select t_email as email
  	from teacher
  	where t_id=#{username}
  	UNION
  	select a_email as email
  	from administrator 
  	where a_id=#{username}
  </select>
</mapper>