.text1{
	width: 100%;
	height: 160px;
	margin-top: -50px;
	text-align: center;
}
p{
	color:azure;
	font-size: 100px;
	font-family: "仿宋";
	margin-left: 100px;
}
.vid{
	background-color: aliceblue;
	width: 450px;
	height: 450px;
	border-radius: 225px;
	margin-left: 20%;
	border: double;
	border-color: azure;
	margin-top: 60px;
    overflow: hidden;
    float: left;
	}
video{
	width: 550px;
	height: 1500px;
	border-radius: 300px;
	margin-left: -40px;
	margin-top: -520px;
	}
.canv{
	background-color: aliceblue;
	width: 450px;
	height: 450px;
	border-radius: 225px;
	margin-right: 20%;
	border: double;
	border-color: azure;
	margin-top: 60px;
    float: right;
}
canvas{
	width: 450px;
	height: 450px;
	border-radius: 225px;
}
#snap{
	width: 280px;
	height: 80px;
    margin-left: 480px;
    margin-top: 20px;
    font-size: 40px;
	font-family: "微软雅黑";
	color: azure;
	border-radius: 10px;
	background: none;
}
#download{
	width: 280px;
	height: 80px;
    margin-left: 140px;
    margin-top: 20px;
    font-size: 40px;
	font-family: "微软雅黑";
	color: azure;
	border-radius: 10px;
	background: none;
}
#user_info{
	font-family: "微软雅黑";
}
.user_info{
	margin-left:40px;
	font-size: 20px;
	font-family: "微软雅黑";
	color: azure;
}
